@{
    ViewBag.Title = "Index";
}
@model List<Product>
<div class="card" style="width:85%;float:right;">
    <div class="card-header">
        <h5>Inverse Table</h5>
        <span>use class <code>table-inverse</code> inside table element</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <a asp-action="Create" class="btn btn-warning btn-md btn-block waves-effect waves-light text-center m-b-20 w-25 mx-3">Create Product</a>
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Main Image</th>
                        <th> Name</th>
                        <th> Price</th>
                        <th>SalePercentage</th>
                        <th>Tax</th>
                        <th>Availability</th>
                        <th>Count</th>
                        <th>ProductCode</th>
                        <th>Deleted</th>
                        <th>DeletedAt</th>
                        <th>UpdatedAt</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {


                        <tr>
                            <td>
                                <img width="75" height="75" style="border-radius:50%;" src="~/assets/images/@product.ProductImages.FirstOrDefault(pi=>pi.IsMain).ImageUrl" />
                            </td>
                            <td>@(product.Name.Length>7?product.Name.Substring(0,7) +"...":product.Name)</td>
                            <td>@product.Price$</td>
                            <td>@product.SalePercentage%</td>
                            <td>@product.Tax$</td>
                            <td>@(product.IsAvailability&&product.Count>0&&product.IsDeleted==false?"in stock":"is not avaliable")</td>
                            <td>@product.Count</td>
                            <td>@product.ProductCode</td>
                            <td>@(product.IsDeleted?"Deleted":"Active")</td>
                            <td>@(product.Removed.HasValue?product.Removed.Value.ToString("d/M/yy h:mm tt") :"[N/A]")</td>
                            <td>@(product.Updated.HasValue?product.Updated.Value.ToString("d/M/yy h:mm tt") :"[N/A]")</td>
                            <td>
                                @if (!product.IsDeleted)
                                {
                                    <a asp-action="Delete" asp-route-Id="@product.Id"><i style="font-size:25px;" class="ti-trash text-danger"></i></a>
                                }
                                <a asp-action="Update" asp-route-Id="@product.Id"><i style="font-size:25px;" class="ti-archive text-danger"></i></a>
                                <a class="mx-3" asp-action="Detail" asp-route-Id="@product.Id"><i style="font-size:25px;" class="ti-plus text-danger"></i></a>
                            </td>
                        </tr>

                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

@section CostumScripts{
    <script type="text/javascript" src="~/admin/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="~/admin/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/admin/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="~/admin/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/admin/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- waves js -->
    <script src="~/admin/pages/waves/js/waves.min.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/admin/js/modernizr/modernizr.js "></script>
    <!-- Custom js -->
    <script src="~/admin/js/pcoded.min.js"></script>
    <script src="~/admin/js/vertical-layout.min.js "></script>
    <script src="~/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/admin/js/script.js"></script>
}



