@{
    ViewBag.Title = "Index";
}
@model ProductVM
<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a href="shop-left-sidebar.html">Shop</a></li>
                <li class="breadcrumb-item active">Product Details</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<!--====== Single Product Part Start ======-->

<section class="single-product-page pt-20">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-product-image mt-30">
                    <div class="product-single-image">
                        @foreach (var productImage in Model.Product.ProductImages)
                        {
                            <div class="single-image">
                                <img src="~/assets/images/@productImage.ImageUrl" alt="">
                            </div>
                        }

                    </div>
                    <div class="product-single-thumb-image">
                        <ul class="product-single-thumb">
                            @foreach (var productImage in Model.Product.ProductImages)
                            {
                                <li><img src="~/assets/images/@productImage.ImageUrl" alt="product"></li>
                            }

                        </ul>
                    </div>
                </div> <!-- single product image -->
            </div>
            <div class="col-lg-6">
                <div class="single-product-content mt-30">
                    <div class="tags d-flex">
                        <span class="tag-title">Tags:</span>
                        <ul class="tag-list media-body">
                            @foreach (var tag in Model.Product.ProductTags)
                            {
                                <li><a href="#">@tag.Tag.Name,</a></li>
                            }
                        </ul>
                    </div>
                    <h2 class="product-title">@Model.Product.Name</h2>
                    <div class="review-rating d-flex flex-wrap">
                        <ul class="rating">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < Model.Product.StarsCount)
                                {
                                    <li class="rating-on"><i class="fas fa-star"></i></li>
                                }
                                else
                                {
                                    <li><i class="fas fa-star"></i></li>
                                }
                            }


                        </ul>
                        <ul class="review-link">
                            <li><a href="#">(@Model.Product.Comments.Where(c=>!c.IsDeleted).ToList().Count() Review)</a></li>
                            <li><a href="#">Write A Review</a></li>
                        </ul>
                    </div>
                    <div class="product-price">
                        <span class="price-sale">€@Model.Product.Price</span>
                        <span class="regular-price">€@(Model.Product.Price-Model.Product.Price*Model.Product.SalePercentage/100)</span>
                    </div>
                    <div class="product-basic-info">
                        <div class="single-info">
                            <span class="title">Ex Tax :</span>
                            <span class="value">€@Model.Product.Tax</span>
                        </div>
                        <div class="single-info">
                            <span class="title">Brand :</span>
                            <span class="value"><a href="#">@Model.Product.Brand.Name</a></span>
                        </div>
                        <div class="single-info">
                            <span class="title"> Product Code :</span>
                            <span class="value">@Model.Product.ProductCode</span>
                        </div>
                        <div class="single-info">
                            <span class="title"> Availability :</span>
                            <span class="value">@(Model.Product.IsAvailability? "In stock":"Is Not Avaliable") </span>
                        </div>
                    </div>
                    <p>@Model.Product.Content.</p>

                    <div class="product-size-color-quantity">
                        <div class="product-quantity mt-25">
                            <h5 class="title">Quantity</h5>
                            <div class="quantity mt-15 d-flex">
                                <button type="button" class="sub"><i class="fal fa-minus"></i></button>
                                <input type="text" value="0" />
                                <button type="button" class="add"><i class="fal fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="addcart">
                        <button><i class="icon ion-bag"></i> Add to cart</button>
                    </div>
                    <div class="product-wishlist-compare">
                        <ul class="d-flex flex-wrap">
                            <li><a href="#"><i class="fal fa-heart"></i> Add to wishlist</a></li>
                            <li><a href="#"><i class="fal fa-repeat"></i> Add to compare</a></li>
                        </ul>
                    </div>
                    <div class="product-share d-flex">
                        <p>Share</p>
                        <ul class="social media-body">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    <div class="reassurance-block">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="single-reassurance d-flex">
                                    <div class="reassurance-icon">
                                        <img src="~/assets/images/icon-1.png" alt="icon">
                                    </div>
                                    <div class="reassurance media-body">
                                        <p>Security policy (edit with Customer reassurance module)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-reassurance d-flex">
                                    <div class="reassurance-icon">
                                        <img src="~/assets/images/icon-2.png" alt="icon">
                                    </div>
                                    <div class="reassurance media-body">
                                        <p>Delivery policy (edit with Customer reassurance module)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="single-reassurance d-flex">
                                    <div class="reassurance-icon">
                                        <img src="~/assets/images/icon-3.png" alt="icon">
                                    </div>
                                    <div class="reassurance media-body">
                                        <p>Return policy (edit with Customer reassurance module)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- single product content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Single Product Part Ends ======-->
<!--====== Product Description Part Start ======-->

<section class="product-description-area pt-50">
    <div class="container-fluid custom-container">
        <ul class="nav justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
            </li>
            <li class="nav-item" role="presentation">
                <a id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="description">
                    <p> @Model.Product.Content</p>
                </div> <!-- Description -->
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="product-rating-content">
                    <div class="average-rating">
                        <h4 class="rating-overall">4.5 <span>(Overall)</span></h4>
                        <p>Based on @Model.Product.Comments.Count Comments</p>
                    </div>
                    <div class="rating-list d-flex flex-wrap">
                        <div class="single-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>(@Model.Product.Comments.Where(c => c.Rating == 5).ToList().Count())</span>
                        </div>
                        <div class="single-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="far fa-star"></i>
                            <span>(@Model.Product.Comments.Where(c => c.Rating == 4).ToList().Count())</span>
                        </div>
                        <div class="single-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <span>(@Model.Product.Comments.Where(c => c.Rating == 3).ToList().Count())</span>
                        </div>
                        <div class="single-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <span>(@Model.Product.Comments.Where(c => c.Rating == 2).ToList().Count())</span>
                        </div>
                        <div class="single-rating">
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <span>(@Model.Product.Comments.Where(c => c.Rating == 1).ToList().Count())</span>
                        </div>
                    </div>
                    <div class="rating-items">

                        @foreach (var comment in Model.Product.Comments.OrderBy(c=>c.Created).ToList())
                            {
                                if (!comment.IsDeleted)
                                {


                                    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="modal-title text-danger">@comment.AppUser.UserName</h2>
                                                    <h5 class="modal-title" id="exampleModalLabel">Update Comment</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                @using (Html.BeginForm("UpdateComment", "SingleProduct", FormMethod.Post))
                                                    {
                                                    <div class="modal-body">
                                                        <textarea class="w-100" required name="content" placeholder="Write a comment">@comment.Content</textarea>
                                                        <input name="productId" value="@Model.Product.Id" hidden />
                                                        <input name="commentId" value="@comment.Id" hidden />

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                    }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="single-rating-item">
                                <div class="rating-author d-flex flex-wrap">
                                    <h4 class="author-name @(User.Identity.IsAuthenticated && User.Identity.Name == comment.AppUser.UserName ? "text-danger" : "")">
                                        <img style="border-radius:50%;width:50px;height:50px;" src="~/assets/images/@(comment.AppUser.ProfileImageUrl == null ? "DemoProfileImage.png" : comment.AppUser.ProfileImageUrl)" />
                                        @comment.AppUser.UserName
                                    </h4>
                                    <ul class="rating-star">
                                        @for (int i = 0; i < 5; i++)
                                            {
                                                if (i < comment.Rating)
                                                {
                                                <li><i class="fas fa-star"></i></li>
                                                }
                                                else
                                                {
                                                <li><i class="far fa-star"></i></li>
                                                }
                                            }
                                    </ul>
                                </div>
                                <p>
                                    @comment.Content
                                    @if (User.Identity.IsAuthenticated && User.Identity.Name == comment.AppUser.UserName)
                                    {
                                        <a style="border:0;" asp-controller="SingleProduct" asp-action="RemoveComment" asp-route-id="@comment.Id" asp-route-productId="@Model.Product.Id"><i style="background-color:white; color:red;" class="fa-solid fa-trash"></i></a>
                                        <a data-bs-toggle="modal" data-bs-target="#commentModal" style="border:0;"><i style="background-color: white; color: red;" class="fa-regular fa-pen-to-square"> </i></a>
                                    }
                                </p>
                                        <span class="text-success">@comment.Created.ToString("d MMM yy h:mm tt")</span>
                               
                            </div>
                                }
                            }
                    </div>

                    <div class="rating-form">
                        <h4 class="form-title">Add your Comments</h4>

                        @using (Html.BeginForm("Comment", "SingleProduct", FormMethod.Post))
                        {
                            <div class="rating-star d-flex">
                                <span class="title">Rating:</span>
                                <ul class="RatingIcons">
                                    <li>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="single-form">
                                        <input name="userId" value="@(Model.AppUser != null ? Model.AppUser.Id : "")" type="text" hidden>
                                        <input name="productId" value="@Model.Product.Id" type="text" hidden>
                                        <input id="ratingInput" value="5" name="rating" type="text" hidden>
                                        <label>Name:</label>
                                        <input value="@(Model.AppUser != null ? Model.AppUser.UserName : "")" type="text" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Email:</label>
                                        <input value="@(Model.AppUser != null ? Model.AppUser.Email : "")" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <label>Your Review:</label>
                                        <textarea name="comment" placeholder="Write a review" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <button class="main-btn">Add Review</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div> <!-- Rating Content -->
            </div>
        </div> <!-- tab-content -->
    </div> <!-- container -->
</section>

<!--====== Product Description Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-30">
                    <h2 class="title">Featured Products</h2>
                </div>
            </div>
        </div> <!-- row -->
        <div class="product-items">
            <div class="row product-active">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-2">
                        <div class="single-product mt-30">
                            <div class="product-image">
                                <a style="width:200px;height:300px;overflow:hidden;" asp-controller="SingleProduct" asp-action="Index" asp-route-id="@product.Id">
                                    <img style="width:350px;overflow:hidden;" class="first-image" src="~/assets/images/@product.ProductImages.FirstOrDefault(pi=>pi.IsMain).ImageUrl" alt="product">
                                    <img style="width:350px;overflow:hidden;" class="second-image" src="~/assets/images/@product.ProductImages.FirstOrDefault(pi=>pi.IsHover).ImageUrl" alt="product">
                                </a>
                                <ul class="product-meta">
                                    <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                    <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                    <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                    <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                </ul>
                                @if (product.SalePercentage > 0)
                                {
                                    <span class="discount-product">-@product.SalePercentage %</span>
                                }
                            </div>
                            <div class="product-content">
                                <ul class="product-rating">
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        if (j < product.StarsCount)
                                        {
                                            <li><i style="color:orange;" class="fas fa-star"></i></li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-star"></i></li>
                                        }

                                    }
                                </ul>
                                <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                <div class="product-price">
                                    <span class="price-sale">€@(product.Price- product.Price* product.SalePercentage/100)</span>
                                </div>
                            </div>
                        </div> <!-- single product -->
                    </div>
                }
            </div> <!-- row -->
        </div> <!-- product items -->
    </div>
</section>

<!--====== Product Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-30">
                    <h2 class="title">Top Products</h2>
                </div>
            </div>
        </div> <!-- row -->
        <div class="product-items">
            <div class="row product-active">
                @foreach (var product in Model.Products.OrderByDescending(p => p.Created).ToList())
                {
                    <div class="col-lg-2">
                        <div class="single-product mt-30">
                            <div class="product-image">
                                <a style="width:200px;height:300px;overflow:hidden;" asp-controller="SingleProduct" asp-action="Index" asp-route-id="@product.Id">
                                    <img style="width:350px;overflow:hidden;" class="first-image" src="~/assets/images/@product.ProductImages.FirstOrDefault(pi=>pi.IsMain).ImageUrl" alt="product">
                                    <img style="width:350px;overflow:hidden;" class="second-image" src="~/assets/images/@product.ProductImages.FirstOrDefault(pi=>pi.IsHover).ImageUrl" alt="product">
                                </a>
                                <ul class="product-meta">
                                    <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                    <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                    <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                    <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                </ul>
                                @if (product.SalePercentage > 0)
                                {
                                    <span class="discount-product">-@product.SalePercentage %</span>
                                }
                            </div>
                            <div class="product-content">
                                <ul class="product-rating">
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        if (j < product.StarsCount)
                                        {
                                            <li><i style="color:orange;" class="fas fa-star"></i></li>
                                        }
                                        else
                                        {
                                            <li><i class="fas fa-star"></i></li>
                                        }

                                    }
                                </ul>
                                <h4 class="product-title"><a href="single-product.html">@product.Name</a></h4>
                                <div class="product-price">
                                    <span class="price-sale">€@(product.Price- product.Price* product.SalePercentage/100)</span>
                                </div>
                            </div>
                        </div> <!-- single product -->
                    </div>
                }
            </div> <!-- row -->
        </div> <!-- product items -->
    </div>
</section>

<!--====== Product Part Ends ======-->
<!--====== Brand Part Start ======-->

@await Component.InvokeAsync("Brand");

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

@await Component.InvokeAsync("Feature");

<!--====== Features Banner Part Ends ======-->
<!--====== Newsletter Part Start ======-->

@section CostumScripts{

    <script src="~/assets/js/singleProduct.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
}