@model List<Category>
@foreach (var category in Model)
{


    <tr>
        <td>
            <img style="border-radius:50%;" width="75" height="75" src="~/assets/images/@category.ImageUrl" />
        </td>
        <td>@category.CategoryName</td>
        <td>@(category.IsMain==true?"Main Category":"Sub Category")</td>
        <td>@(category.IsMain==false?category.Parent.CategoryName:"[N/A]")</td>
        <td>
            @if (!category.IsDeleted)
            {
                <a asp-action="Delete" asp-route-Id="@category.Id"><i style="font-size:25px;" class="ti-trash text-danger"></i></a>
            }
            <a asp-action="Update" asp-route-Id="@category.Id"><i style="font-size:25px;" class="ti-archive text-danger"></i></a>
            <a class="mx-3" asp-action="Detail" asp-route-Id="@category.Id"><i style="font-size:25px;" class="ti-plus text-danger"></i></a>
        </td>
    </tr>

}