@model List<Feature>
@foreach (var feature in Model)
{


    <tr>
        <td>
            <img style="border-radius:50%;" width="75" height="75" src="~/assets/images/@feature.ImageUrl" />
        </td>
        <td>@feature.Title</td>
        <td>@feature.Content</td>
        <td>
            @if (!feature.IsDeleted)
            {
                <a asp-action="Delete" asp-route-Id="@feature.Id"><i style="font-size:25px;" class="ti-trash text-danger"></i></a>
            }
            <a asp-action="Update" asp-route-Id="@feature.Id"><i style="font-size:25px;" class="ti-archive text-danger"></i></a>
            <a class="mx-3" asp-action="Detail" asp-route-Id="@feature.Id"><i style="font-size:25px;" class="ti-plus text-danger"></i></a>
        </td>
    </tr>

}