@{
    ViewBag.Title = "Index";
}
@model HomeIndexVM
 

@section CostumStyles{

}
<!--====== Slider Part Start ======-->

<section class="slider-area slider-active">
    @foreach (var slider in Model.Sliders)
    {
        if (!slider.IsDeleted)
        {
            <div class="single-slider">
                <div class="slider-image">
                    <img src="~/assets/images/@slider.ImageUrl" alt="slider">
                </div>
                <div class="slider-content-wrapper">
                    <div class="container-fluid custom-container">
                        <div class="slider-content">
                            <h4 data-animation="fadeInDown" data-delay="0.5s" class="sub-title">@slider.SubTitle</h4>
                            <h1 data-animation="fadeInLeft" data-delay="0.5s" class="main-title ">@Html.Raw(slider.MainTitle)</h1>
                            <p data-animation="fadeInRightBig" data-delay="0.5s">@slider.Description</p>
                            <a data-animation="zoomIn" data-delay="0.5s" class="main-btn " href="single-product.html">Shop Now</a>
                        </div>
                    </div> <!-- container -->
                </div>
            </div> <!-- single slider -->
        }

    }
</section>

<!--====== Slider Part Ends ======-->
<!--====== Banner Part Start ======-->

<div class="banner-area banner-bg">
    <div class="container-fluid custom-container">
        <div class="row">

            @foreach (var product in Model.Products.Take(2))
            {
                <div class="col-md-6">
                    <div class="banner-image">
                        <a href="shop-4-column.html"><img style="width:80%;height:80%;overflow:hidden;" src="~/assets/images/@product.ProductImages.FirstOrDefault(p=>p.IsMain).ImageUrl" alt="banner"></a>
                    </div> <!-- banner image -->
                </div>
            }


        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Banner Part Ends ======-->
<!--====== Category Part Start ======-->

<section class="category-area category-bg pt-100 pb-100">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-30">
                    <h2 class="title">Featured Categories</h2>
                </div>
            </div>
        </div> <!-- row -->
        <div class="row category-active">
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="~/assets/images/@Model.Categories[i].ImageUrl" alt="category">
                            <p>@Model.Categories[i].CategoryName</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="~/assets/images/@Model.Categories[i+1].ImageUrl" alt="category">
                            <p>@Model.Categories[i + 1].CategoryName</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                i += 2;
            }
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <div class="col-lg-2">
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="~/assets/images/@Model.Categories[i].ImageUrl" alt="category">
                            <p>@Model.Categories[i].CategoryName</p>
                        </a>
                    </div> <!-- single category -->
                    <div class="single-category text-center">
                        <a target="_blank" href="shop-left-sidebar.html">
                            <img src="~/assets/images/@Model.Categories[i+1].ImageUrl" alt="category">
                            <p>@Model.Categories[i + 1].CategoryName</p>
                        </a>
                    </div> <!-- single category -->
                </div>
                i += 2;
            }
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Category Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100 pb-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" id="myTab" role="tablist">
                        @for (int i = 0; i < Model.Categories.Take(4).ToList().Count; i++)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="@(i==0?"active":"")" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="@(i==0?true:false)">@Model.Categories[i].CategoryName</a>
                            </li>
                        }

                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                <div class="product-items">
                    <div class="row product-active">
                        @for (int i = 0; i < Model.Products.Count - 1; i += 2)
                        {
                            <div class="col-lg-2">
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@Model.Products[i+1].Id">
                                            <img style="width:350px;overflow:hidden;" class="first-image" src="~/assets/images/@Model.Products[i+1].ProductImages.FirstOrDefault(pi=>pi.IsMain).ImageUrl" alt="product">
                                            <img style="width:350px;overflow:hidden;" class="second-image" src="~/assets/images/@Model.Products[i+1].ProductImages.FirstOrDefault(pi=>pi.IsHover).ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                        @if (Model.Products[i].SalePercentage > 0)
                                            {
                                                 <span class="discount-product">-@Model.Products[i+1].SalePercentage %</span>
                                            }
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < 5; j++)
                                            {
                                                if (j < Model.Products[i + 1].StarsCount)
                                                {
                                                    <li><i style="color:orange;" class="fas fa-star"></i></li>
                                                }
                                                else
                                                {
                                                    <li><i class="fas fa-star"></i></li>
                                                }

                                            }
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@Model.Products[i+1].Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@(Model.Products[i+1].Price- Model.Products[i+1].Price* Model.Products[i+1].SalePercentage/100)</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                                <div class="single-product mt-30">
                                    <div class="product-image">
                                        <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@Model.Products[i].Id">
                                            <img style="width:350px;overflow:hidden;" class="first-image" src="~/assets/images/@Model.Products[i].ProductImages.FirstOrDefault(pi=>pi.IsMain).ImageUrl" alt="product">
                                            <img style="width:350px;overflow:hidden;" class="second-image" src="~/assets/images/@Model.Products[i].ProductImages.FirstOrDefault(pi=>pi.IsHover).ImageUrl" alt="product">
                                        </a>
                                        <ul class="product-meta">
                                            <li><a href="#"><i class="icon ion-bag"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-favorite-outline"></i></a></li>
                                            <li><a href="#"><i class="icon ion-android-options"></i></a></li>
                                            <li><a data-toggle="modal" data-target="#productQuickModal" href="#"><i class="icon ion-android-open"></i></a></li>
                                        </ul>
                                        @if (Model.Products[i].SalePercentage > 0)
                                        {
                                            <span class="discount-product">-@Model.Products[i].SalePercentage %</span>
                                        }
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < 5; j++)
                                            {
                                                if (j < Model.Products[i].StarsCount)
                                                {
                                                    <li><i style="color:orange;" class="fas fa-star"></i></li>
                                                }
                                                else
                                                {
                                                    <li><i class="fas fa-star"></i></li>
                                                }

                                            }
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@Model.Products[i].Name</a></h4>
                                        <div class="product-price">
                                            <span class="price-sale">€@(Model.Products[i].Price- Model.Products[i].Price* Model.Products[i].SalePercentage/100)</span>
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>

<!--====== Product Part Ends ======-->
<!--====== Special Products Part Start ======-->

<section class="special-products-area pt-70 pb-120">
    <div class="container-fluid custom-container">
        <div class="special-products-active">
            <div class="special-products-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special-products-gallery d-flex mt-50">
                            <div class="products-gallery-thumb">
                                <ul class="products-thumb">
                                    @foreach (var productImages in Model.Products.FirstOrDefault().ProductImages)
                                    {
                                        <li><img src="~/assets/images/@productImages.ImageUrl" alt="Products Thumb"></li>
                                    }


                                </ul>
                            </div> <!-- products gallery thumb -->
                            <div class="products-gallery-image">
                                @foreach (var productImages in Model.Products.FirstOrDefault().ProductImages)
                                {
                                    <div class="single-products-image">
                                        <a href="#">
                                            <img src="~/assets/images/@productImages.ImageUrl" alt="products">
                                        </a>
                                    </div>
                                }

                            </div> <!-- products gallery image -->
                        </div> <!-- special products gallery -->
                    </div>
                    <div class="col-lg-6">
                        <div class="special-products-countdown mt-50">
                            <div class="products-countdown-wrapper">
                                <h2 class="special-title">@Model.Products.FirstOrDefault().Name</h2>
                                <h3 class="products-title"><a href="#">@Model.Products.FirstOrDefault().Content.Substring(0, Model.Products.FirstOrDefault().Content.Length/2)...</a></h3>
                                <div class="products-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                                <div data-countdown="2021/12/19"></div>

                                <div class="product-price-and-cart d-sm-flex align-items-center">
                                    <div class="product-price">
                                        <span class="price-sale">€@(Model.Products.FirstOrDefault().Price- Model.Products.FirstOrDefault().Price* Model.Products.FirstOrDefault().SalePercentage/100)</span>
                                        <span class="regular-price">€@Model.Products.FirstOrDefault().Price</span>
                                    </div>
                                    <div class="product-cart">
                                        <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div> <!-- special products countdown -->
                        </div> <!-- special products countdown -->
                    </div>
                </div> <!-- row -->
            </div> <!-- special products wrapper -->
            <div class="special-products-wrapper">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="special-products-gallery d-flex mt-50">
                            <div class="products-gallery-thumb">
                                <ul class="products-thumb">
                                    @foreach (var productImages in Model.Products.Skip(1).FirstOrDefault().ProductImages)
                                    {
                                        <li><img src="~/assets/images/@productImages.ImageUrl" alt="Products Thumb"></li>
                                    }


                                </ul>
                            </div> <!-- products gallery thumb -->
                            <div class="products-gallery-image">
                                @foreach (var productImages in Model.Products.Skip(1).FirstOrDefault().ProductImages)
                                {
                                    <div class="single-products-image">
                                        <a href="#">
                                            <img src="~/assets/images/@productImages.ImageUrl" alt="products">
                                        </a>
                                    </div>
                                }

                            </div> <!-- products gallery image -->
                        </div> <!-- special products gallery -->
                    </div>
                    <div class="col-lg-6">
                        <div class="special-products-countdown mt-50">
                            <div class="products-countdown-wrapper">
                                <h2 class="special-title">@Model.Products.Skip(1).FirstOrDefault().Name</h2>
                                <h3 class="products-title"><a href="#">@Model.Products.Skip(1).FirstOrDefault().Content.Substring(0, Model.Products.FirstOrDefault().Content.Length / 2)...</a></h3>
                                <div class="products-rating">
                                    <ul>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>

                                <div data-countdown="2021/12/19"></div>

                                <div class="product-price-and-cart d-sm-flex align-items-center">
                                    <div class="product-price">
                                        <span class="price-sale">€@(Model.Products.Skip(1).FirstOrDefault().Price- Model.Products.FirstOrDefault().Price* Model.Products.FirstOrDefault().SalePercentage/100)</span>
                                        <span class="regular-price">€@Model.Products.Skip(1).FirstOrDefault().Price</span>
                                    </div>
                                    <div class="product-cart">
                                        <a class="main-btn main-btn-2" href="#">Add to cart</a>
                                    </div>
                                </div>
                            </div> <!-- special products countdown -->
                        </div> <!-- special products countdown -->
                    </div>
                </div> <!-- row -->
            </div> <!-- special products wrapper -->
        </div> <!-- special products active -->
    </div> <!-- container -->
</section>

<!--====== Special Products Part Ends ======-->
<!--====== Product Part Start ======-->

<section class="product-area pt-100">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-menu pb-30">
                    <ul class="nav justify-content-center" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="active" id="computer-tab" data-toggle="tab" href="#computer" role="tab" aria-controls="computer" aria-selected="true">Computer</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="smartphone-tab" data-toggle="tab" href="#smartphone" role="tab" aria-controls="smartphone" aria-selected="false">Smartphone</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a id="game-tab" data-toggle="tab" href="#game" role="tab" aria-controls="game" aria-selected="false">Game Consoles</a>
                        </li>
                    </ul>
                </div> <!-- product menu -->
            </div>
        </div> <!-- row -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="computer" role="tabpanel" aria-labelledby="computer-tab">
                <div class="product-items">
                    <div class="row product-active-2">
                        @for (int i = Model.Products.Count-1; i > 0; i -= 2)
                        {
                            <div class="col-lg-4">
                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@Model.Products[i].Id">
                                            <img class="first-image" src="~/assets/images/@Model.Products[i].ProductImages.FirstOrDefault(pi=>pi.IsMain).ImageUrl" alt="product">
                                            <img class="second-image" src="/assets/images/@Model.Products[i].ProductImages.FirstOrDefault(pi=>pi.IsHover).ImageUrl" alt="product">
                                        </a>
                                        @if (Model.Products[i].SalePercentage > 0)
                                            {
                                                <span class="discount-product">-@Model.Products[i].SalePercentage%</span>
                                            }
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < 5; j++)
                                            {
                                                if (j < Model.Products[i].StarsCount)
                                                {
                                                    <li><i style="color:orange;" class="fas fa-star"></i></li>
                                                }
                                                else
                                                {
                                                    <li><i class="fas fa-star"></i></li>
                                                }

                                            }
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@Model.Products[i].Name</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price">€@Model.Products[i].Price</span>
                                            @if (Model.Products[i].SalePercentage > 0)
                                            {
                                                <span class="price-sale">€@(Model.Products[i].Price - Model.Products[i].Price * Model.Products[i].SalePercentage / 100)</span>
                                            }
                                        </div>
                                    </div>
                                </div> <!-- single product -->

                                <div class="single-product product-list d-sm-flex flex-wrap align-items-center mt-30">
                                    <div class="product-image">
                                        <a asp-controller="SingleProduct" asp-action="Index" asp-route-id="@Model.Products[i-1].Id">
                                            <img class="first-image" src="~/assets/images/@Model.Products[i-1].ProductImages.FirstOrDefault(pi=>pi.IsMain).ImageUrl" alt="product">
                                            <img class="second-image" src="/assets/images/@Model.Products[i-1].ProductImages.FirstOrDefault(pi=>pi.IsHover).ImageUrl" alt="product">
                                        </a>
                                        @if (Model.Products[i-1].SalePercentage > 0)
                                        {
                                            <span class="discount-product">-@Model.Products[i-1].SalePercentage%</span>
                                        }
                                    </div>
                                    <div class="product-content">
                                        <ul class="product-rating">
                                            @for (int j = 0; j < 5; j++)
                                            {
                                                if (j < Model.Products[i -1].StarsCount)
                                                {
                                                    <li><i style="color:orange;" class="fas fa-star"></i></li>
                                                }
                                                else
                                                {
                                                    <li><i class="fas fa-star"></i></li>
                                                }

                                            }
                                        </ul>
                                        <h4 class="product-title"><a href="single-product.html">@Model.Products[i-1].Name</a></h4>
                                        <div class="product-price">
                                            <span class="regular-price">€@Model.Products[i-1].Price</span>
                                            @if (Model.Products[i - 1].SalePercentage > 0)
                                                {
                                                    <span class="price-sale">€@(Model.Products[i - 1].Price - Model.Products[i - 1].Price * Model.Products[i - 1].SalePercentage / 100)</span>
                                                }
                                        </div>
                                    </div>
                                </div> <!-- single product -->
                            </div>
                        }
                    </div> <!-- row -->
                </div> <!-- product items -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>

<!--====== Product Part Ends ======-->
<!--====== Brand Part Start ======-->

<div class="brand-area pt-80">
    <div class="container-fluid custom-container">
        <div class="row brand-active">
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/assets/images/brand/brand-1.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/assets/images/brand/brand-2.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/assets/images/brand/brand-3.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/assets/images/brand/brand-5.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/assets/images/brand/brand-6.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
            <div class="col-lg-2">
                <div class="single-brand">
                    <a href="#">
                        <img src="~/assets/images/brand/brand-4.jpg" alt="brand">
                    </a>
                </div> <!-- single brand -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

<section class="features-banner-area pt-80 pb-100">
    <div class="container-fluid custom-container">
        <div class="features-banner-wrapper d-flex flex-wrap">
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon1.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Free Shipping</h3>
                    <p>Free shipping on all US order</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon2.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Support 24/7</h3>
                    <p>Contact us 24 hours a day</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon3.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">100% Money Back</h3>
                    <p>You have 30 days to Return</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon4.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">90 Days Return</h3>
                    <p>If goods have problems</p>
                </div>
            </div> <!-- single features banner -->
            <div class="single-features-banner d-flex">
                <div class="banner-icon">
                    <img src="~/assets/images/banner-icon/icon5.png" alt="Icon">
                </div>
                <div class="banner-content media-body">
                    <h3 class="banner-title">Payment Secure</h3>
                    <p>We ensure secure payment</p>
                </div>
            </div> <!-- single features banner -->
        </div> <!-- features banner wrapper -->
    </div> <!-- container -->
</section>

<!--====== Features Banner Part Ends ======-->
<!--====== Blog Part Start ======-->

<section class="blog-area blog-bg pt-100 pb-100">
    <div class="container">
        <div class="row blog-active">
            @foreach (var blog in Model.Blogs)
            {
                <div class="col-lg-4">
                    <div class="single-blog">
                        <div class="blag-image">
                            <a href="blog-single-left-sidebar.html"><img src="~/assets/images/@blog.BlogImage" alt="Blog"></a>
                            <p class="meta-date">
                                <span class="day">@blog.Created.ToString("d MMM yy h:mm tt").Split(" ")[0]</span>
                                <span class="month">@blog.Created.ToString("d MMM yy h:mm tt").Split(" ")[1]</span>
                            </p>
                        </div>
                        <div class="blag-content">
                            <h2 class="blog-title"><a href="blog-single-left-sidebar.html">@blog.Title</a></h2>
                            <p>@blog.Content</p>
                        </div>
                    </div> <!-- single blog -->
                </div>
            }
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Blog Part Ends ======-->
<!--====== Testimonial Part Start ======-->

<section class="testimonial-area bg_cover pt-100 pb-100" style="background-image: url(/assets/images/bg_testimonial.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="testimonial-active">
                    @foreach (var author in Model.Authors)
                    {
                        <div class="single-testimonial d-sm-flex">
                            <div class="testimonial-author">
                                <img src="~/assets/images/@author.ProfileImage" alt="author">
                            </div>
                            <div class="testimonial-content media-body">
                                <p> @author.About.</p>
                                <h4 class="author-name">@author.Name</h4>
                                <span class="designation">@author.Email</span>
                            </div>
                        </div> <!-- single testimonial -->
                    }
                </div> <!-- testimonial Active -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== Testimonial Part Ends ======-->

@section CostumScripts{
  
}