
@{
    ViewBag.Title = "Index";
}
@model CheckOutVM
<div class="breadcrumb-area">
    <div class="container-fluid custom-container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Checkout</li>
            </ol>
        </nav>
    </div> <!-- container -->
</div>

<!--====== Breadcrumb Part Ends ======-->
<div class="card @(Model.basketVMs.Count==0?"d-none":"")">
    <div class="card-header">
        <h5>Basket Table</h5>
        <div class="card-header-right">

        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <p id="SuccessMessage" class="text-danger w-50 text-center mx-auto">@TempData["SuccessMessage"]</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ProductCount</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Tax</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <p id="AllertMessage" class="text-danger w-50 text-center mx-auto">@TempData["AlertMessage"]</p>
                    @foreach (var product in Model.basketVMs)
                    {
                        <tr>
                            <th scope="row">
                                <img style="width:50px;height:50px;border-radius:50%;" src="~/assets/images/@product.ImgSrc" />
                            </th>
                            <td>@product.ProductCount</td>
                            <td>@product.Name</td>
                            <td>@(product.Price)$</td>
                            <td>@product.Tax$</td>
                            <td>
                                <ul class="list-unstyled card-option">
                                    <li style="cursor:pointer;" class="text-primary"><a asp-controller="Basket" asp-action="IncreaseProduct" asp-route-id="@product.Id"><i class="fa fa-plus maximize-card"></i></a></li>
                                    <li style="cursor:pointer;" class="text-danger"><a asp-controller="Basket" asp-action="RemoveProduct" asp-route-id="@product.Id"><i class="fa fa-trash close-card"></i></a></li>
                                    <li style="cursor:pointer;" class="text-warning"><a asp-controller="Basket" asp-action="DecreaseProduct" asp-route-id="@product.Id"><i class="fa fa-minus minimize-card"></i></a></li>

                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--====== Checkout Part Start ======-->

<section class="checkout-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="checkout-form">
                    @using (Html.BeginForm("CheckOut", "CheckOut", FormMethod.Post))
                        {
                        <div class="billing-address mt-30">
                            <h4 class="allup-title">Billing Address</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="single-form">
                                        <label>Full Name</label>
                                        <input readonly type="text" placeholder="FullName" required value="@(Model.appUser!=null?Model.appUser.FullName:"")">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Email Address*</label>
                                        <input readonly type="text" placeholder="Email Address" required value="@(Model.appUser!=null?Model.appUser.Email:"")">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Phone no*</label>
                                        <input readonly type="text" placeholder="Phone no" required value="@(Model.appUser!=null?(Model.appUser.PhoneNumber != null ? Model.appUser.PhoneNumber : ""):"")">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single-form">
                                        <label>Address</label>
                                        <select name="adressId">
                                            @foreach (var adress in Model.Adresses)
                                            {
                                                <option value="@adress.Id">@adress.CompanyName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="single-form">
                                        <label>Sale Code</label>
                                        <input  type="text" placeholder="Sale Code" name="saleCode">
                                    </div>
                                </div>

                            </div>
                        </div>
                    <div class="checkout-btn">
                        <button class="main-btn main-btn-2" type="submit">Place Order</button>
                    </div>
                        }
                    <div class="checkout-checkbox">
                        <ul>
                            <li>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="account">
                                    <label for="account"></label>
                                    <p>Create an Account? </p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="checkout-total-wrapper mt-30">
                    <h4 class="allup-title">Cart Total</h4>
                    <div class="checkout-total mt-30">
                        <h4 class="title">Product  <span>Total</span></h4>
                        <ul>
                            @foreach (var product in Model.basketVMs)
                            {
                                <li>
                                    <p class="total-value">@product.Name</p>
                                    <p class="total-amount">€@(product.Price*product.ProductCount)</p>
                                </li>
                            }

                        </ul>
                        <div class="checkout-total-sub">
                            <p class="total-value">Sub Total</p>
                            <p class="total-amount">€@Model.basketVMs.Sum(p => p.Price * p.ProductCount)</p>
                        </div>
                        <div class="checkout-total-sub">
                            <p class="total-value">Shipping Fee </p>
                            <p class="total-amount">€@Model.basketVMs.Sum(p => p.Tax)</p>
                        </div>
                        <h4 class="title mt-15">Product  <span>€@(Model.basketVMs.Sum(p => p.Price * p.ProductCount)+ Model.basketVMs.Sum(p => p.Tax))</span></h4>
                    </div>
                </div>

                <div class="checkout-payment-wrapper mt-30">
                    <h4 class="allup-title">Payment Method</h4>
                    <div class="checkout-payment mt-30">
                        <ul>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="check" checked="checked">
                                        <label for="check"><span></span> Check Payment</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="bank">
                                        <label for="bank"><span></span> Direct Bank Transfer</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="cash">
                                        <label for="cash"><span></span> Cash on Delivery</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="paypal">
                                        <label for="paypal"><span></span> Paypal</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-payment">
                                    <div class="payment-radio">
                                        <input type="radio" name="radio" id="payoneer">
                                        <label for="payoneer"><span></span> Payoneer</label>

                                        <div class="payment-details">
                                            <p>Please send a Check to Store name with Store Street, Store Town, Store State, Store Postcode, Store Country.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="accept">
                                    <label for="accept"></label>
                                    <p>I’ve read and accept the terms & conditions</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("Brand") ;

<!--====== Brand Part Ends ======-->
<!--====== Features Banner Part Start ======-->

@await Component.InvokeAsync("Feature") ;

<!--====== Features Banner Part Ends ======-->
@section CostumScripts{

    <script src="~/assets/js/basket.js"></script>


   
}