@{
    ViewBag.Title = "Index";
}
@model List<GetUserVM>
<div class="card"  style="width:85%;float:right;">
    <div class="card-header">
        <h5>Inverse Table</h5>
        <span>use class <code>table-inverse</code> inside table element</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>Profile Image</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>PhoneNumber</th>
                        <th>IsDeleted</th>
                        <th>IsActive</th>
                        <th>Roles</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {


                        <tr>
                            <td>
                                @if (user.ProfileImageUrl == null)
                                {
                                    <img width="75" height="75" style="border-radius:50%;" src="~/assets/images/DemoProfileImage.png" />
                                }
                                else
                                {
                                    <img style="border-radius:50%;" width="75" height="75" src="~/assets/images/@user.ProfileImageUrl" />
                                }
                            </td>
                            <td>@user.UserName</td>
                            <td>@user.Email</td>
                            <td>@(user.PhoneNumber==null?"+994xx xxx xx xx":user.PhoneNumber)</td>
                            <td>@(user.IsDeleted?"Deleted":"Active")</td>
                            <td>@(user.IsActive?"Active":"Blocked")</td>
                            <td>@(string.Join(" ",user.Roles))</td>
                            <td>
                                @if (user.Roles.Contains("SupperAdmin"))
                                {
                                    <a class="mx-3" asp-action="Detail" asp-route-Id="@user.Id"><i style="font-size:25px;" class="ti-plus text-danger"></i></a>


                                }
                                else if (user.Roles.Contains("Admin"))
                                {
                                    <a class="mx-3" asp-action="Detail" asp-route-Id="@user.Id"><i style="font-size:25px;" class="ti-plus text-danger"></i></a>
                                    <a asp-action="Update" asp-route-Id="@user.Id"><i style="font-size:25px;" class="ti-archive text-danger"></i></a>
                                }
                                else
                                {
                                    <a class="mx-3" asp-action="Detail" asp-route-Id="@user.Id"><i style="font-size:25px;" class="ti-plus text-danger"></i></a>
                                    <a asp-action="Delete" asp-route-Id="@user.Id"><i style="font-size:25px;" class="ti-trash text-danger"></i></a>
                                    <a asp-action="Update" asp-route-Id="@user.Id"><i style="font-size:25px;" class="ti-archive text-danger"></i></a>

                                }

                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

@section CostumScripts{
    <script type="text/javascript" src="~/admin/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="~/admin/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/admin/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="~/admin/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/admin/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- waves js -->
    <script src="~/admin/pages/waves/js/waves.min.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/admin/js/modernizr/modernizr.js "></script>
    <!-- Custom js -->
    <script src="~/admin/js/pcoded.min.js"></script>
    <script src="~/admin/js/vertical-layout.min.js "></script>
    <script src="~/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/admin/js/script.js"></script>
}