<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from demo.hasthemes.com/allup/allup/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Sep 2020 10:48:01 GMT -->
<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>@ViewBag.Title</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/png">


    <!-- CSS
    ============================================ -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">

    <!--===== Plugins CSS (All Plugins Files) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/default.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">

    @RenderSection("CostumStyles", false)
    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="~/assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css"> -->

</head>

<body>

    <!--====== PRELOADER PART START ======-->

    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>

    <!--====== PRELOADER PART ENDS ======-->
    <!--====== Header Part Start ======-->
    <span class="text-danger" id="alertForSession1">@TempData["Info"]  </span>
    @await Component.InvokeAsync("Header");

    <!--====== Header Part Ends ======-->

    @RenderBody()
    <section class="newsletter-area pt-100 pb-100 bg_cover" style="background-image: url('/assets/images/bg-newletter.jpg')">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-8">
                    <div class="newsletter-content">
                        <h2 class="newsletter-title">Subscribe our newsletter</h2>
                        <p>allup is a powerful eCommerce HTML Template</p>

                        <div class="newsletter-forn">
                            @using (Html.BeginForm("Subscribe", "Home", FormMethod.Post))
                            {
                                <input name="email" type="email" placeholder="Your Email address">
                                <button class="main-btn">Subscribe</button>
                            }
                        </div>
                    </div> <!-- newsletter content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== Newsletter Part Ends ======-->
    <!--====== Footer Part Start ======-->


    @await Component.InvokeAsync("Footer");
    <a href="#" class="back-to-top"><i class="ion-android-arrow-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    <!--====== Vendors js ======-->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Plugins js ======-->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="~/assets/js/plugins.min.js"></script> -->
    <!--====== Main Activation js ======-->
    <script src="~/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/assets/js/header.js"></script>
    <script>const myTimeout = setTimeout(() => {
            document.getElementById("alertForSession1").innerHTML = "";
        }, 5000);</script>
   
    @RenderSection("CostumScripts", false);
</body>


<!-- Mirrored from demo.hasthemes.com/allup/allup/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Sep 2020 10:48:01 GMT -->
</html>


