

@{
    ViewBag.Title = "Index";
    int paginationItem = 2;
}
@model List<Contact>
<div class="card" style="width:85%;float:right;">
    <div class="card-header">
        <h5>Inverse Table</h5>
        <span>use class <code>table-inverse</code> inside table element</span>
        <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Deleted</th>
                        <th>DeletedAt</th>
                        <th>UpdatedAt</th>
                        <th>Settings</th>
                    </tr>
                </thead>
                <tbody id="productBody">
                    @foreach (var contact in Model)
                    {


                        <tr>
                            <td>@contact.UserName</td>
                            <td>@contact.Email</td>
                            <td>@(contact.IsDeleted?"Deleted":"Active")</td>
                            <td>@(contact.Removed.HasValue? contact.Removed.Value.ToString("d/M/yy h:mm tt") :"[N/A]")</td>
                            <td>@(contact.Updated.HasValue? contact.Updated.Value.ToString("d/M/yy h:mm tt") :"[N/A]")</td>
                            <td>
                                @if (!contact.IsDeleted)
                                {
                                    <a asp-action="Delete" asp-route-Id="@contact.Id"><i style="font-size:25px;" class="ti-trash text-danger"></i></a>
                                }
                                <a asp-action="Update" asp-route-Id="@contact.Id"><i style="font-size:25px;" class="ti-archive text-danger"></i></a>
                                <a class="mx-3" asp-action="Detail" asp-route-Id="@contact.Id"><i style="font-size:25px;" class="ti-plus text-danger"></i></a>
                            </td>
                        </tr>

                    }


                </tbody>
            </table>
            <nav class=" my-2" aria-label="...">
                <ul id="itemParent" class="pagination  mx-auto d-block text-center">
                    <li class="page-item">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link">1 <span class="sr-only">(current)</span></a>
                    </li>
                    @if ((int)ViewBag.ProductCount > 4)
                    {
                        for (int i = 4; i < (int)ViewBag.ProductCount; i += 4)
                        {
                            <li class="page-item"><a class="page-link">@paginationItem</a></li>
                            paginationItem++;
                        }
                    }
                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section CostumScripts{
    <script type="text/javascript" src="~/admin/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="~/admin/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/admin/js/bootstrap/js/bootstrap.min.js "></script>
    <!-- waves js -->
    <script src="~/admin/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/admin/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- waves js -->
    <script src="~/admin/pages/waves/js/waves.min.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/admin/js/modernizr/modernizr.js "></script>
    <!-- Custom js -->
    <script src="~/admin/js/pcoded.min.js"></script>
    <script src="~/admin/js/vertical-layout.min.js "></script>
    <script src="~/admin/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/admin/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>var items = document.querySelectorAll(".page-item");
        items.forEach(item => {
            item.addEventListener("click", function () {
                if (item.getAttribute("class").includes("active") == false && item.firstElementChild.innerHTML != "Next" && item.firstElementChild.innerHTML != "Previous") {

                    var span = document.createElement("span");
                    span.classList.add("sr-only");
                    span.innerHTML = "(current)";
                    var activeElement = document.querySelector("#itemParent .active");
                    activeElement.classList.remove("active");
                    activeElement.firstElementChild.firstElementChild.remove;
                    item.classList.add("active");
                    item.firstElementChild.appendChild(span);
                    var skip = item.firstElementChild.innerText.split("\n")[0] - 1
                    axios({
                        method: 'get',
                        url: `/AdminArea/Contact/Pagination?skip=${skip * 4}&take=4`
                    })
                        .then(function (response) {
                            var productTableBody = document.getElementById("productBody");
                            productTableBody.innerHTML = "";
                            productTableBody.innerHTML = response.data;
                        });

                }
            })
            if (item.firstElementChild.innerHTML == "Next") {
                item.addEventListener("click", function () {
                    var previousElement = item.previousElementSibling;
                    if (previousElement.getAttribute("class").includes("active") == false) {
                        var activeElement = document.querySelector("#itemParent .active");
                        var span = document.createElement("span");
                        span.classList.add("sr-only");
                        span.innerHTML = "(current)";
                        activeElement.classList.remove("active");
                        activeElement.firstElementChild.firstElementChild.remove;
                        var nextElement = activeElement.nextElementSibling;
                        nextElement.classList.add("active");
                        nextElement.firstElementChild.appendChild(span);
                        var skip = nextElement.firstElementChild.innerText.split("\n")[0] - 1
                        axios({
                            method: 'get',
                            url: `/AdminArea/Contact/Pagination?skip=${skip * 4}&take=4`
                        })
                            .then(function (response) {
                                var productTableBody = document.getElementById("productBody");
                                productTableBody.innerHTML = "";
                                productTableBody.innerHTML = response.data;
                            });
                    }
                })
            }
            if (item.firstElementChild.innerHTML == "Previous") {
                item.addEventListener("click", function () {
                    var nextElement = item.nextElementSibling;
                    if (nextElement.getAttribute("class").includes("active") == false) {
                        var activeElement = document.querySelector("#itemParent .active");
                        var span = document.createElement("span");
                        span.classList.add("sr-only");
                        span.innerHTML = "(current)";
                        activeElement.classList.remove("active");
                        activeElement.firstElementChild.firstElementChild.remove;
                        var previousElement = activeElement.previousElementSibling;
                        previousElement.classList.add("active");
                        previousElement.firstElementChild.appendChild(span);
                        var skip = previousElement.firstElementChild.innerText.split("\n")[0] - 1
                        axios({
                            method: 'get',
                            url: `/AdminArea/Contact/Pagination?skip=${skip * 4}&take=4`
                        })
                            .then(function (response) {
                                var productTableBody = document.getElementById("productBody");
                                productTableBody.innerHTML = "";
                                productTableBody.innerHTML = response.data;
                            });
                    }
                })
            }

        })</script>
}



